Meal.py
Avatar2.py
Cafetest.py
chatbot.py
chatbottest.py
Course.py
customer2.py
customer.py
customingtest.py
database.py
menu.py
NLPdemo.py
SPXCafe2.py
test cafe.py
testing.py
customerownliked.py
Untitled Diagram.drawio
__pycache__/Avatar2.cpython-312.pyc
__pycache__/NLPdemo.cpython-312.pyc
__pycache__/database.cpython-312.pyc
__pycache__/SPXCafe2.cpython-312.pyc