Meal.py
Avatar2.py
Cafetest.py
chatbot.py
chatbottest.py
Course.py
customer2.py
customer.py
customingtest.py
database.py
menu.py
NLPdemo.py
SPXCafe2.py
test cafe.py
testing.py
Untitled Diagram.drawio
